services:
  - type: web
    name: cv-generator-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    region: singapore
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
    healthCheckPath: /health
    autoDeploy: true
